.PC {
  display: none;
}

@media (min-width: 1280px) {
  .PC {
    display: flex;
    gap: 30px;
  }
  .navbarPC {
    flex: 1;
    display: flex;
    padding-bottom: 4px;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .authenBtnsPC {
    display: block;
  }
}

@media (min-width: 1536px) {
  .navbarPC {
    gap: 3vw;
  }
}
