.footerMain {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 640px) {
  .footerMain {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (min-width: 1280px) {
  .footerMain {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px 5%;
    justify-content: center;
    gap: 5%;
  }
}

@media (min-width: 1536px) {
  .footerMain {
    gap: 10%;
  }
}
