.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--color-secondary);
}