.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}

@media (min-width: 1280px) {
  .header {
    padding: 35px 10%;
  }
}

@media (min-width: 1536px) {
  .header {
    padding: 35px 15%;
  }
}
